.reveal.slide .slides > section, .reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: block !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  align-items: center !important;
  mrgin-top: 80px !important;
}
section > h1, section > h2 , section > h3, section > h4 {
  position: absolute !important;
  top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
  margin-top: -40px  !important;
}
.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
  min-height: 770px !important;
  position: relative !important;
}
